<div id="filterrific_results">
  <div>
    <%= page_entries_info jobs %>
  </div>

  <table class="table table-bordered table-header table-stripered">
    <thead>
    <tr>
      <th>Fullname</th>
      <th>Picture</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Sex</th>
      <th>Curriculum</th>
      <th>Username</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.fullname %></td>
          <td><%= employee.picture %></td>
          <td><%= employee.contact %></td>
          <td><%= employee.email %></td>
          <td><%= employee.sex %></td>
          <td><%= employee.curriculum %></td>
          <td><%= employee.username %></td>
          <td><%= link_to icon('eye'), employee %>
            <%= link_to icon('pencil-square-o'), edit_employee_path(employee) %>
            <%= link_to icon('trash-o'), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%  @total = (page_entries_info jobs).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
<%= paginate jobs %>
<% end  %>