
<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Candidato: <%= @employee.fullname %></h4>
      </div>
      <!-- modal body -->
      <div class="modal-body container-fluid">
        <div class="col-lg-12 row">
          <div class="col-md-12">
            <div class="img-member col-md-4">
              <% if @employee.image.file? %>
                  <%= image_tag @employee.image.url(), :width=> 150, :height => 150 %>
              <% else %>
                  <%= image_tag("blog/user2.png", :width=> 150, :height => 150) %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="col-md-12 panel"><%= icon("phone")%> <strong>Contact:</strong><%= @employee.contact %></div>
              <div class="col-md-12 panel"><%= icon("user")%> <strong>Username:</strong><%= @employee.username %></div>
              <div class="col-md-12 panel"><%= icon("male")%>  <strong>Sexo:</strong><%= @employee.sex %></div>
              <div class="col-md-12 panel"><%= icon("globe")%> <strong>Pais:</strong> <%= @employee.m_country.ncountry %></div>
              <div class="col-md-12 panel"><%= icon("envelope-o")%> <strong>Correo:</strong> <%= @employee.email %></div>
            </div>
            <br>
            <div class="col-md-12 panel">
                <h4 class=""> Resumen: </h4><%= @employee.description[0...50] %>...
            </div>
            <div class="col-md-12 panel">
                <h4 class=""> Curriculum Vitae: </h4> <%= @employee.curriculum[0...50] %>...
            </div>
            <div class="col-md-12 panel">
              <%= link_to "Ver Ficha Completa" , @employee , class: "label label-info right" %>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end modal body -->
    </div>
  </div>
