<br>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      Listado de Candidatos
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for_filterrific @filterrific do |f| %>
              Records to show
              <%= select_tag :cantd, options_for_select([5,10,20,40].to_a, nil)  %>
              Search
              <%= f.text_field(   :search_query, class: 'filterrific-periodically-observed' ) %>
              <%# add an automated spinner to your form when the list is refreshed %>
              <%= render_filterrific_spinner %>
          <% end %>
          <%#= link_to( 'Reset filters', reset_filterrific_url, class: "btn-normal btn-sm") %>
        </div>
        <div class="col-lg-6">
          <div class="right">
            Download:
            <%= link_to icon('file-code-o','CSV'), employees_path(format: "csv") %> |
            <%= link_to icon('file-excel-o','Excel'), employees_path(format: "xls") %>
            <%= link_to icon('plus-circle','Add Employee'), new_employee_path , class: "btn-primary btn-sm" %>
          </div>
        </div>
      </div>
      <hr>
      <%= render(        partial: 'employees/list',        locals: { employees: @employees }    ) %>
    </div>
    <div class="panel-footer">
      &nbsp;<i class="right">candidatos</i>
    </div>
  </div>
</div>







