<div id="filterrific_results">
  <div>
    <%= page_entries_info articles %>
  </div>

  <table class="table table-bordered table-header table-stripered">
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Actions</th>
    </tr>

    <% articles.dup.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td>
            <%= link_to icon('eye'), article_path(article) %>
            <%= link_to icon('pencil-square-o'), edit_article_path(article) %>
            <%= link_to icon('trash-o'), article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<%  @total = (page_entries_info articles).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
    <%= paginate articles %>
<% end  %>

