<br>
<div class="">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listado de Noticias
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for_filterrific @filterrific do |f| %>
                Records to show
                <%= select_tag :cantd, options_for_select([10,20,40].to_a, nil)  %>
                Search
                <%= f.text_field(   :search_query, class: 'filterrific-periodically-observed' ) %>
                <%# add an automated spinner to your form when the list is refreshed %>
                <%= render_filterrific_spinner %>
            <% end %>
            <%#= link_to( 'Reset filters', reset_filterrific_url, class: "btn-normal btn-sm") %>
          </div>
          <div class="col-lg-6">
            <div class="right">
              <%#= link_to icon('file-code-o','CSV'), articles_path(format: "csv") %>
              <%#= link_to icon('file-excel-o','Excel'), articles_path(format: "xls") %>
              <%= link_to icon('plus-circle','Noticia'), new_article_path %>
            </div>
          </div>
        </div>
        <hr>
        <%= render(        partial: 'articles/list',        locals: { articles: @articles }    ) %>
      </div>
      <div class="panel-footer">
        &nbsp;<i class="right">articles</i>
      </div>
    </div>
  </div>
</div>



