<div class="container">
  <div class="col-md-12 box">

    <div class="col-md-4 wel-grid1">
      <div class="image-box agileits_service_grid_btm_left1">
        <% if @article.image.file? %>
            <%= image_tag @article.image.url(), :width=> 350, :height => 350 %>
        <% else %>
            <%= image_tag("jobs/job-default.png", :width=> 350, :height => 350) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 wel-grid">
      <h4><%= @article.title %></h4>
      <%= link_to icon("list-alt",'Noticias'), articles_path ,:class=>"btn btn-default btn-xs" %>
      <% if can? :edit, @article %>
          <%= link_to icon("pencil-square-o",'Edit'), edit_article_path(@article),:class=>"btn btn-default btn-xs" %>
      <% end %>
      <% if can? :delete, @article %>
          <%= link_to icon('trash-o','Eliminar'), @article, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default btn-xs" %>
      <% end %>
      <hr>
      <label class="panel">Created at <%= icon("calendar")%> <%= @article.created_at %></label>
      <%#= link_to icon("mail-reply","Back"), articles_path %>
      <p><%= @article.text %></p>
    </div>

  </div>
</div>

