<%= form_for(aplicationjob) do |f| %>
  <% if aplicationjob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aplicationjob.errors.count, "error") %> prohibited this aplicationjob from being saved:</h2>

      <ul>
      <% aplicationjob.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @job.title %>
    <%= f.hidden_field :job_id,value: @job.id %>
  </div>

  <div class="field">
    <%= current_user.employee.fullname %>
    <%= f.hidden_field :employee_id,value: current_user.employee_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
