<section class="section content container">
  <br>
  <div class="container-fluid">
    <div class="box container">
      <h3 class="w3-abo head-sms"> Mensajes de Candidatos para los Trabajos Publicados  </h3>
      <h3>Empresa: <%= current_user.company.company %></h3>
      <hr>
      <% @item = 1;
         @jobs.each do |job| %>
          <% @cont = Aplicationjob.all.where(:job_id => job.id).order("updated_at DESC").count %>
          <div class="box container" style="width: 90%">
            <div class="col-md-12">
              <h4> <span class="red"><%= icon("briefcase") %> Trabajo/</span> <%= link_to job.title , job , remote: true %> </h4>
              <%= icon("envelope-o",@cont) %> mensaje(s)
            </div>
            <br>
                <% @sms = 1;
                   @appjob = Aplicationjob.all.where(:job_id => job.id).order("updated_at DESC")
                   @appjob.each do |appjob| %>
                <table class="table table-header table-bordered">
                  <tr>
                    <td><span class="red">#<%= @sms %></span></td>
                    <td>Autor <%= icon("user") %>  <%= link_to appjob.employee.fullname , appjob.employee , remote: true %></td>
                    <td>Fecha <%= icon("calendar") %> <%= appjob.created_at %> </td>
                    <td>
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%="accordion#{appjob.id}"%>">
                      <%= icon("envelope-o") %> Ver Mensaje </a>
                    </td>
                    <td> Estado  </td>
<td>
  <% @reply = Messageemployee.all.where(:employee_id => appjob.employee.id,:company_id => current_user.company_id, :job_id => job.id)  %>
  <% if @reply.count() > 0 %>
      <a data-toggle="collapse" data-parent="#accordion" href="#<%="accordion#{appjob.id}"%>">
        <%= icon("envelope") %> Ver <%=@reply.count()%> Respuesta </a>
  <%else %>
      <%= link_to icon("reply","Responder") , "/messageemployees/new/#{appjob.employee.id}" , remote: true , class: "btn btn-danger" %>
  <% end %>
</td>
                  </tr>
                  <tr id="<%="accordion#{appjob.id}"%>" class="panel-collapse collapse">
                    <td colspan="3"><%= appjob.description %></td>
                    <td colspan="3">
                      <%= @mailer = (@reply[0].mail != "") ? @reply[0].mail   : "Esperando respuesta..." %>
                    </td>
                  </tr>
                </table>
                <% @sms = @sms + 1; %>
                <%  end  %>
              <span class="badge right"><%= @item %></span>
              <% @item = @item + 1; %>
          </div>
      <% end %>
    </div>
  </div>
</section>





<!--div class="col-md-12">

  <div> <strong> Empresa: </strong> <%#= aplyjob.job.company.company %></div>
  <div> <strong> Detalle: </strong> <%#= aplyjob.job.description[0...200] %></div>
  <div> <strong> Estado: </strong> <label class="label label-default"> Esperando...</label></div>
  <div class="red"> <span class="img-circle"> <%#= icon("envelope-square")%> </span> <strong>  Mi propuesta: </strong> <%#= aplyjob.description[0...200] %> </div>
  <span class="badge right"><%#= @item %></span>
</div-->