<section class="section content">
     <% @jobs.each do |job| %>
      <div class="box">
        <h3><%= job.title %> <%= job.id %></h3>
     <div class="col-md-12 panel">
       <ul>
       <%   @appjob = Aplicationjob.all.where(:job_id => job.id).order("updated_at DESC") %>
       <%   @appjob.each do |appjob|     %>
             <li>  <%= appjob.created_at %> </li> <br>
             <li>  <%= appjob.employee.fullname %> </li> <br>
             <li>  <%= appjob.description %> </li> <br>
       <%  end  %>
       </ul>
         </div>
      </div>
     <% end %>
</section>