<section class="section content">
  <h2 class="section-title">Administration Section</h2>
  <div class="row">
     <div class="col-lg-4">
       <li>
         <%= link_to 'CRUD Articles(test)', controller: 'articles' %>
       </li>
     </div>
    <div class="col-lg-4">
      <li>
        <%= link_to 'CRUD Jobs', :action => 'jobs' %>
      </li>
    </div>
    <div class="col-lg-4">
      <li>
        <%= link_to 'CRUD Employees', :action => 'employees' %>
      </li>
    </div>
    <div class="col-lg-4">
      <li>
        <%= link_to 'CRUD Companies', :action => 'companies' %>
      </li>
    </div>
    <div class="col-lg-4">
      <li>
        <%= link_to 'CRUD Categories', :action => 'categories' %>
      </li>
    </div>







  </div>




</section>



