<section class="section content">
  <div class="row">

    <div class="col-lg-8">
    Contenido
      <div class="widget">
        <h3 class="block-title"> Admin Links </h3>
        <div class="textwidget">
          <ul class="menu">
            <li> <%= link_to icon('pencil-square-o', 'Articles') , controller: 'articles'  %> </li>
            <li> <%= link_to icon('briefcase', 'Jobs'),  controller: 'jobs'  %></li>
            <li>  <%= link_to icon('users', 'Employees'), controller: 'employees'  %></li>
            <li> <%= link_to icon('building', 'Companies'), controller: 'companies' %> </li>
            <li> <%= link_to icon('check-circle-o', 'Categories'), controller: 'categories'   %></li>
            <li> <%= link_to icon('globe', 'Countries'), controller: 'm_countries'   %> </li>
            <li> <%= link_to icon('envelope-o', 'Messages'), controller: 'messageemployees'   %> </li>
            <li> <%= link_to icon('file-text-o', 'Aplications'), controller: 'aplicationjobs'   %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>



