<div class="panel-normal row">
  <div class="col-lg-2">
    <h6 class="left"><strong> <span class="red">Section</span> <%= @title %> </strong> </h6>
  </div>
  <div class="col-lg-10">
    <div class="right">
      <%= link_to icon('pencil-square-o', 'Articles') , controller: 'articles'  %> /
      <%= link_to icon('briefcase', 'Jobs'),  controller: 'jobs'  %> /
      <%= link_to icon('users', 'Employees'), controller: 'employees'  %> /
      <%= link_to icon('building', 'Companies'), controller: 'companies' %> /
      <%= link_to icon('check-circle-o', 'Categories'), controller: 'categories'   %> /
      <%= link_to icon('globe', 'Countries'), controller: 'countries'   %> /
      <%= link_to icon('envelope-o', 'Messages'), controller: 'messageemployees'   %> /
      <%= link_to icon('file-text-o', 'Aplications'), controller: 'aplicationjobs'   %> /
      <%= link_to icon('user-secret', 'Users'), controller: 'users'   %>
    </div>
  </div>
</div>