<div class="section-title row">
  <div class="col-lg-4">
    <h4 class="left"> <span class="red">Section</span> <%= @title %> </h4>
  </div>
  <div class="col-lg-8">
    <ul class="presentation-links">
      <li>
        <%= link_to icon('pencil-square-o', 'CRUD Articles(test)') , controller: 'articles' %>
      </li>
      <li>
        <%= link_to icon('briefcase', 'CRUD Jobs'),  controller: 'jobs'  %>
      </li>
      <li>
        <%= link_to icon('users', 'CRUD Employees'), controller: 'employees'  %>
      </li>
      <li>
        <%= link_to icon('building', 'CRUD Companies'), controller: 'companies' %>
      </li>
      <li>
        <%= link_to icon('check-circle-o', 'CRUD Categories'), controller: 'categories'  %>
      </li>
    </ul>
  </div>
</div>