<div class="section-title row">
  <div class="col-lg-4">
    <h4 class="left"> <span class="red">Section</span> <%= @title %> </h4>
  </div>
  <div class="col-lg-8">
    <ul class="presentation-links">
      <li>
        <%= link_to 'CRUD Articles(test)', controller: 'articles' %>
      </li>
      <li>
        <%= link_to 'CRUD Jobs',  '/administration/jobs'  %>
      </li>
      <li>
        <%= link_to 'CRUD Employees', '/administration/employees'  %>
      </li>
      <li>
        <%= link_to 'CRUD Companies', '/administration/companies' %>
      </li>
      <li>
        <%= link_to 'CRUD Categories', '/administration/categories'  %>
      </li>
    </ul>
  </div>
</div>