<div class="section-title row">
  <div class="col-lg-5">
    <h6 class="left"> <span class="red">Section</span> <%= @title %> </h6>
  </div>
  <div class="col-lg-7">
    <ul class="presentation-links">
      <li>
        <%= link_to icon('pencil-square-o', 'Articles(test)') , controller: 'articles' %>
      </li>
      <li>
        <%= link_to icon('briefcase', 'Jobs'),  controller: 'jobs'  %>
      </li>
      <li>
        <%= link_to icon('users', 'Employees'), controller: 'employees'  %>
      </li>
      <li>
        <%= link_to icon('building', 'Companies'), controller: 'companies' %>
      </li>
      <li>
        <%= link_to icon('check-circle-o', 'Categories'), controller: 'categories'  %>
      </li>
    </ul>
  </div>
</div>