<div class="" id="adminsect">
  <br>
  <div class="container">
  <div class="panel-normal row">
    <div class="col-lg-12">
      <h2 class="w3-abo">  Administration Panel | <span class="black">Section <%= @title %> </span></h2>
    </div>
    <div class="col-lg-12">
      <div class="right">
        <%= link_to icon('pencil-square-o', 'Articles') , controller: 'articles'  %> /
        <%= link_to icon('briefcase', 'Jobs'),  controller: 'jobs'  %> /
        <%= link_to icon('users', 'Employees'), controller: 'employees'  %> /
        <%= link_to icon('building', 'Companies'), controller: 'companies' %> /
        <%= link_to icon('check-circle-o', 'Categories'), controller: 'categories'   %> /
        <%= link_to icon('globe', 'Countries'), controller: 'm_countries'   %> /
        <%= link_to icon('envelope-o', 'Messages'), controller: 'messageemployees'   %> /
        <%= link_to icon('file-text-o', 'Aplications'), controller: 'aplicationjobs'   %> /
        <%= link_to icon('user-secret', 'Users'), controller: 'users'   %>
      </div>
    </div>
  </div>
</div>
</div>
