<section class="featured-jobs section">
  <div class="container">
    <h2 class="blo-w3"> Ultimos  Candidatos  Publicados  </h2>
    <br>
    <div class="row">
      <% @employees = Employee.all.limit(6)
         @employees.each do |employee| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="featured-item">
              <div class="featured-wrap">
                <div class="featured-inner">
                  <figure class="item-thumb">
                    <% if employee.image.file? %>
                        <%= image_tag employee.image.url(), :width=> 85, :height => 85 %>
                    <% else %>
                        <%= image_tag("blog/user2.png", :width=> 85, :height => 85) %>
                    <% end %>
                  </figure>
                  <div class="item-body">
                    <h3 class="job-title"><%= link_to icon('eye',employee.fullname), employee %></h3>
                    <div class="adderess"><%= employee.curriculum[0...25]%></div>
                  </div>
                </div>
              </div>
              <div class="item-foot">
                <span><%= icon ("phone")%> <%= employee.contact %></span>
                <span><%= icon ("envelope-o")%> <%= employee.email %> </span>
                <div class="view-iocn">
                  <%= link_to icon('eye'), employee %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>