<!-- Services -->
<div class="popular-w3" id="services">
  <div class="container">
    <h3 class="ser-w3">Trabajos x Categorias</h3>
    <section class="featured-jobs section">
    <div class="row">
      <% @categories = Category.all.order("category")
         @categories.each do |category| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="featured-item">
              <div class="featured-wrap">
                <div class="featured-inner">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="#">
                    </a>
                  </figure>
                  <div class="item-body">
                    <h3 class="job-title ser-w4">
                      <%= link_to category.category, category  %>
                    </h3>
                    <div class="adderess">
                      <% if category.image.file? %>
                          <%= image_tag category.image.url(), :width=> 90, :height => 90 %>
                      <% else %>
                          <%= image_tag("category/category-default.png", :width=> 90, :height => 90) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot">
                <span><%= category.description %></span>
                <div class="view-iocn">
                  <%= link_to icon("suitcase"), category  %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    </section>
  </div>
</div>
<!-- //Services -->


