<!-- Services -->
<div class="popular-w3" id="services">
  <div class="container">
    <div class="row">
      <h2 class="w3-abo col-lg-6">Categorias</h2>
      <div class="col-lg-6">
        <%#= link_to icon("pencil-square-o","Publicar Trabajo"), new_job_path,:class => "btn btn-primary"%>
        <%= link_to icon("list-alt","Ver Todos"), categories_path,:class => "btn btn-common btn-rm" %>
      </div>
    </div>
    <h3 class="ser-w3">Trabajos x Categorias</h3>
    <section class="featured-jobs section">
    <div class="row">
      <%  @categories.each do |category| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="featured-item">
              <div class="featured-wrap">
                <div class="featured-inner">
                  <figure class="item-thumb">
                    <a class="hover-effect" href="#">
                    </a>
                  </figure>
                  <div class="item-body">
                    <h3 class="job-title ser-w4">
                      <%= link_to category.category, category , remote: true  %>
                    </h3>
                    <div class="adderess">
                      <% if category.image.file? %>
                          <%= image_tag category.image.url(), :width=> 90, :height => 90 %>
                      <% else %>
                          <%= image_tag("category/category-default.png", :width=> 90, :height => 90) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-foot">
                <span><%= category.description %></span>
                <strong><%= Job.all.where(category_id: category.id).count %> Works related </strong>
                <div class="view-iocn">
                  <%= link_to icon("suitcase"), category , remote: true %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    </section>
  </div>
</div>
<!-- //Services -->


