<!-- Blogs -->
<div class="special" id="blogs">
  <div class="container">
    <h3 class="blo-w3">Latest Companies</h3>
    <div class="special-grids">
      <!-- listando las compannias -->
      <% @companies = Company.all
         @companies.each do |company| %>
          <div class="col-md-4">
            <div class="port-7 effect-2 ">
              <div class="image-box">
                <%= image_tag company.image.url(), :width=> 290, :height => 230 %>
              </div>
              <div class="text-desc">
                <h4><%= company.company %></h4>
                <p><%= company.description[0...45] %></p>
              </div>
              <contacts> <%= company.fullname %></contacts>
              <contacts><%= icon("phone") %> <%= company.contact %></contacts>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
<div class="clearfix"> </div>
<!-- Modal1 -->
<!--div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Blog Post</h4>
        <h5>Lorem ipsum dolor sit amet</h5>
        <--%= image_tag("features/ban3.jpg") %>
        <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
    </div>
  </div>
</div-->
