<!-- Find Job Section Start -->
<div class="" id="hotjobs">
  <div class="container">
    <h2 class="w3-abo">Trabajos con m&aacute;s Demanda</h2>
    <div class="row">
      <div class="col-md-12">
        <!-- Listado de trabajos -->
        <%  @jobs.each do |job| %>
            <div class="job-list">
              <div class="thumb">
                <% if job.image.file? %>
                    <%= image_tag job.image.url(), :width=> 100, :height => 100 %>
                <% else %>
                    <%= image_tag("jobs/job-default.png", :width=> 100, :height => 100) %>
                <% end %>
              </div>
              <div class="job-list-content">
                <h4><%= job.title %></h4><br>
                <h3>
                  <%= job.company.company  %>
                </h3><br>
                <p> <%=   job.description[0...200]  %> </p>
                <div class="job-tag">
                  <div class="pull-left">
                    <div class="meta-tag">
                      <span><a href="browse-categories.html"><%= icon("bars") %><%= job.category.category %></a></span>
                      <span><%= icon("map-marker") %><%= job.m_country.ncountry %></span>
                      <span><%= icon("clock-o") %>60/Hour</span>
                    </div>
                  </div>
                  <div class="pull-right">
                    <div class="icon tooltip-demo" data-toggle="tooltip"  data-placement="top" title="" data-original-title="Tooltip on top">
                      <%= link_to icon("pencil-square-o"), "/aplicationjobs/new/#{job.id}" %>
                    </div>
                    <!--a class="btn btn-common btn-rm" data-toggle="modal" data-target="<%#= "#myModal3" %>" >Read More</a-->
                    <%= link_to "Ver Detalles", job,:class => "btn btn-common btn-rm",remote: true %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>