<!-- Find Job Section Start -->
<div class="" id="hotjobs">
  <div class="container">
    <h2 class="w3-abo">Hot Jobs</h2>
    <div class="row">
      <div class="col-md-12">
        <!-- Listado de trabajos -->
        <% @jobs = Job.all
           @jobs.each do |job| %>
            <div class="job-list">
              <div class="thumb">
                <%= image_tag job.image.url(), :width=> 100, :height => 100 %>
              </div>
              <div class="job-list-content">
                <h4><a href="#"><%= job.title %></a><span class="full-time"><%= job.job_stat %></span></h4><br>
                <span><%= job.publicate_at %></span><br>
                <h3><%= job.company.company %> </h3><br>
                <p><%= job.description[0...200] %></p>
                <div class="job-tag">
                  <div class="pull-left">
                    <div class="meta-tag">
                      <span><a href="browse-categories.html"><%= icon("bars") %><%= job.category.category %></a></span>
                      <span><%= icon("map-marker") %><%= job.m_country.ncountry %></span>
                      <span><%= icon("clock-o") %>60/Hour</span>
                    </div>
                  </div>
                  <div class="pull-right">
                    <div class="icon">
                      <%= icon("building") %>
                    </div>
                    <a href="#" class="btn btn-common btn-rm">More Detail</a>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>