  <!-- Container Starts to list Articles -->
  <section id="blog" class="section">
    <div class="container">
      <div class="row">
        <h2 class="w3-abo col-lg-6">Ultimas Noticias</h2>
        <div class="col-lg-6">
          <%#= link_to icon("pencil-square-o","Publicar Trabajo"), new_job_path,:class => "btn btn-primary"%>
          <%= link_to icon("list-alt","Ver Todos"), articles_path,:class => "btn btn-success btn-rm" %>
        </div>
      </div>
      <div class="row">
      <%  @articles.each do |article| %>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <% if article.image.file? %>
                    <%= link_to (image_tag article.image.url(), :width=> 300, :height => 190), article_path(article) %>
                <% else %>
                    <%= link_to (image_tag "resume/Job_Search-512.png", :width=> 300, :height => 190), article_path(article) %>
                <% end %>
              </div>
              <div class="blog-item-text">
                <div class="meta-tags">
                  <span class="date"><%= icon("calendar")%> <%= article.created_at %></span>
                  <span class="comments"><%= icon("edit")%></span>
                </div>
                <%= link_to (article.title), article_path(article) %>
                <p>
                  <%= article.text[0...80] %>
                </p>
                <%= link_to ("Read More"), article_path(article),class:"btn btn-common btn-rm" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  </section>

