<%= form_for(job,method: :post,:multipart => true) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row panel">
      <div class="field col-lg-6">
        <%= f.label :title %>
        <%= f.text_field :title  , class: "my-form-st" %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :category_id %>
        <%= f.select(:category_id, categories_id_for_select, { include_blank: 'Select Category' }) %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :m_country_id %>
        <%= f.select(:m_country_id, paises_id_for_select, { include_blank: 'Select Country' }) %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :company_id %>
        <%= f.select(:company_id, companies_for_select, { include_blank: 'Select Company' }) %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :publicate_at %>
        <%= f.datetime_select :publicate_at  , class: "my-form-st" %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :active %>
        <%= f.check_box :active  , class: "my-form-st" %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :job_stat %>
        <%= f.select(:job_stat, ['Publish','Taken','Close'],) %>
      </div>

      <div class="field col-lg-12">
        <%= f.label :description %>
        <%= f.text_area :description  , class: "my-form-st" %>
      </div>


      <div class="actions col-lg-6">
        <%= f.submit %>
      </div>
    </div>

<% end %>
