<%= form_for(job,method: :post,:multipart => true) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row panel">

      <div class="field col-lg-12">
        <%= f.label :title %>
        <%= f.text_field :title  , class: "form-control" %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :category_id %>
        <%= f.select(:category_id, categories_id_for_select, { include_blank: 'Select Category' },class:"form-control") %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :image %>
        <%= f.file_field :image ,class:"form-control file-img" %>
      </div>
   <hr>
      <div class="field col-lg-6">
        <%= f.label :m_country_id %>
        <%= f.select(:m_country_id, paises_id_for_select, { include_blank: 'Select Country' },class:"form-control") %>
      </div>

      <div class="field col-lg-6">
        <%= f.label :company_id %>
        <%= f.select(:company_id, companies_for_select, { include_blank: 'Select Company' },class:"form-control") %>
      </div>


      <div class="field col-lg-6">
        <%= f.label :money %>
        <%= f.text_field :money  , class: "form-control" %>
      </div>

      <div class="field col-lg-12">
        <%= f.label :description %>
        <%= f.text_area :description  , class: "form-control" %>
      </div>


      <div class="actions col-lg-6">
        <%= f.submit  %>
      </div>

    </div>

<% end %>
