<div id="filterrific_results">
  <div>
    <%= page_entries_info jobs %>
  </div>

  <table class="table table-bordered table-header table-stripered table-responsive">
    <thead>
    <tr>
      <th>title</th>
      <th>picture</th>
      <th>Status</th>
      <th>country</th>
      <th>company</th>
      <th>publicate_at</th>
      <th>active</th>
      <th>description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= image_tag job.image.url(), :width=> 90, :height => 90 %></td>
          <td><%= job.job_stat %></td>
          <td><%= job.country %></td>
          <td><%= job.company_id %></td>
          <td><%= job.publicate_at %></td>
          <td><%= job.active %></td>
          <td><%= job.description %></td>
          <td><%= link_to icon('eye'), job %>  <%= link_to icon('pencil-square-o'), edit_job_path(job) %>
            <%= link_to icon('trash-o'), job, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%  @total = (page_entries_info jobs).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
<%= paginate jobs %>
<% end  %>