<div id="filterrific_results">
  <div class="acciones_filtros_search">
    <%= page_entries_info jobs %>
  </div>

    <% jobs.each do |job| %>

        <div class="job-list">
          <div class="thumb">
            <% if job.image.file? %>
                <%= image_tag job.image.url(), :width=> 110, :height => 110 %>
            <% else %>
                <%= image_tag("jobs/job-default.png", :width=> 110, :height => 110) %>
            <% end %>
          </div>
          <div class="job-list-content">
            <h4><%= link_to job.title, job %><h6><% if can? :edit, job %>
                  <%= link_to icon("pencil-square-o",'Editar'), edit_job_path(job) %>
              <% end %>
              <% if can? :delete, job %>
                  <%= link_to icon('trash-o','Eliminar'), job, method: :delete, data: { confirm: 'Are you sure?' }, remote: true , class: "delete_link" %>
              <% end %></h6>
            </h4>
            <br>
            <h6>Publicado x <%= job.company.company %> </h6><br>
            <p><%= job.description[0...200] %></p>
            <div class="job-tag">
              <div class="pull-left">
                <div class="meta-tag">
                  <span><%= icon("bars") %><%= job.category.category %></span>
                  <span><%= icon("map-marker") %><%= job.m_country.ncountry %></span>
                  <span><%= icon("money") %><%= job.money %></span>
                </div>
              </div>
              <div class="pull-right">
                <div class="icon">
                  <%= link_to icon("pencil-square-o"), "/aplicationjobs/new/#{job.id}" %>
                </div>
                <!--a class="btn btn-common btn-rm" data-toggle="modal" data-target="<%#= "#myModal3" %>" >Read More</a-->
                <%= link_to "More Detail", job,:class => "btn btn-common btn-rm",remote: true %>
              </div>
            </div>
          </div>
        </div>

    <% end %>
    </tbody>
  </table>
</div>
<%  @total = (page_entries_info jobs).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
<%= paginate jobs %>
<% end  %>