<p id="notice"><%= notice %></p>
<%= render "bloques/admin_section" %>
<br>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      Admin Jobs
    </div>
    <div class="panel-body">
      <p>
        <%= link_to icon('plus-circle','new'), new_job_path %>
        Download:
        <%= link_to icon('file-code-o','CSV'), categories_path(format: "csv") %> |
        <%= link_to icon('file-excel-o','Excel'), categories_path(format: "xls") %>
      </p>
<table class="table table-bordered table-header table-stripered">
  <thead>
  <tr>
    <th>title</th>
    <th>country</th>
    <th>company</th>
    <th>publish_date</th>
    <th>active</th>
    <th>Sex</th>
    <th>description</th>
    <th>picture</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
<% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.country %></td>
      <td><%= job.company %></td>
      <td><%= job.publish_date %></td>
      <td><%= job.active %></td>
      <td><%= job.description %></td>
      <td><%= job.picture %></td>
      <td><%= link_to 'Show', job %>  <%= link_to 'Edit', edit_job_path(job) %>  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    </tr>
<% end %>
  </tbody>
</table>

</div>
<div class="panel-footer">
  <i class="right">jobs</i>
</div>
</div>
</div>

