<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Admin Jobs
    </div>
  <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for_filterrific @filterrific do |f| %>
              Records to show
              <%= select_tag :cantd, options_for_select([10,20,40].to_a, nil) ,class: "form-control" %>
              Search
              <%= f.text_field(   :search_query, class: 'filterrific-periodically-observed' ) %>
              <%# add an automated spinner to your form when the list is refreshed %>
              <%= render_filterrific_spinner %>
          <% end %>
          <%#= link_to( 'Reset filters', reset_filterrific_url, class: "btn-normal btn-sm") %>
        </div>
        <div class="col-lg-6">
          <div class="right">
            <%#= link_to icon('file-code-o','CSV'), jobs_path(format: "csv") %> |
            <%#= link_to icon('file-excel-o','Excel'), jobs_path(format: "xls") %>
            <%= link_to icon('plus-circle','Add Job'), new_job_path  %>
          </div>
        </div>
      </div>
    <hr>
<%= render(        partial: 'jobs/list',        locals: { jobs: @jobs }    ) %>
   </div>
<div class="panel-footer">
  &nbsp;<i class="right">jobs</i>
</div>
</div>
</div>
