<div class="container">
  <div class="col-md-12 popular-grid">
    <div class="row detail-bottom">
      <div class="col-md-4">
        <%= image_tag @job.image.url(), :width=> 290, :height => 290 %>
      </div>
      <div class="col-md-6">
        <div class="popular-text">
          <h5><%= @job.title %></h5>
          <%= link_to 'Edit', edit_job_path(@job) %> | <%= link_to 'Back', jobs_path %>
          <div class="post-box">
            <ul>
              <li><strong>Country:</strong>  <%= @job.m_country.ncountry %> </li>
              <li><strong>Company:</strong>  <%= @job.company.company %> </li>
              <li><strong>Publish date:</strong>  <%= @job.publicate_at %> </li>
              <li><strong>Active:</strong>    <%= @job.active %> </li>
              <li> <strong>Category:</strong>  <%= @job.category.category %> </li>
              <li><strong>State:</strong>     <%= @job.job_stat %> </li>
            </ul>
          </div>
        </div>
        <p align="right"><%= @job.description %></p>
      </div>
    </div>

  </div>
</div>
<hr>

