<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Editing Employee
    </div>
    <div class="panel-body">
      <div class="row">
<div class="col-lg-6">
  <strong>Title:</strong>
  <%= @job.title %>
</div>

<div class="col-lg-6">
  <strong>Country:</strong>
  <%= @job.country %>
</div>

<div class="col-lg-6">
  <strong>Company:</strong>
  <%= @job.company_id %>
</div>

<div class="col-lg-6">
  <strong>Publish date:</strong>
  <%= @job.publicate_at %>
</div>

<div class="col-lg-6">
  <strong>Active:</strong>
  <%= @job.active %>
</div>

<div class="col-lg-6">
  <strong>Description:</strong>
  <%= @job.description %>
</div>

<div class="col-lg-6">
  <strong>Picture:</strong>
  <%= @job.picture %>
</div>

<div class="col-lg-6">
  <strong>State:</strong>
  <%= @job.job_stat %>
</div>

<div class="col-lg-6">
  <strong>Category:</strong>
  <%= @job.category_id %>
</div>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
      </div>
    </div>
  </div>
</div>
