<div class="container">
  <div class="col-md-4 popular-grid">
    <div class="popular-text">
      <h5><%= @job.title %></h5>
      <div>
        <strong>Country:</strong>  <%= @job.m_country.ncountry %>
        <strong>Company:</strong>  <%= @job.company.company %>
        <strong>Publish date:</strong>  <%= @job.publicate_at %>
        <strong>Active:</strong>    <%= @job.active %>
        <strong>Category:</strong>  <%= @job.category.category %>
        <strong>State:</strong>     <%= @job.job_stat %>
      </div>
      <div class="detail-bottom">
        <p><%= @job.description %></p>
      </div>
    </div>
    <%= image_tag @job.image.url(), :width=> 290, :height => 290 %>
  </div>
  <%= link_to 'Edit', edit_job_path(@job) %> | <%= link_to 'Back', jobs_path %>
</div>
<hr>

