<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <div class="content-area">
        <h2 class="medium-title"> Detalles del Trabajo </h2>

        <div class="box container-fluid">
          <div class="col-md-4">
            <div class="agileits_service_grid_btm_left1">
              <% if @job.image.file? %>
                  <%= image_tag @job.image.url(), :width=> 250, :height => 250 %>
              <% else %>
                  <%= image_tag("jobs/job-default.png", :width=> 250, :height => 250) %>
              <% end %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="text-left">
              <h3> <strong><%= @job.title %></strong>
                <%= link_to icon("list-alt",'Trabajos'), jobs_path ,:class=>"btn btn-default btn-xs" %>
                <% if can? :edit, @job %>
                    <%= link_to icon("pencil-square-o",'Editar'), edit_job_path(@job),:class=>"btn btn-default btn-xs" %>
                <% end %>
                <% if can? :delete, @job %>
                    <%= link_to icon('trash-o','Eliminar'), @job, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default btn-xs" %>
                <% end %>
              </h3>
              <p>sponsored by:<%= @job.company.company %></p>
              <div class="meta">
                <span><%= icon ("briefcase") %> <%= @job.category.category %></span><br>
                <span> <%= icon ("map-marker") %> <%= @job.m_country.ncountry %></span><br>
                <span> <%= icon ("calendar") %> <%= @job.created_at %></span><br>
              </div>
              <strong class="price"><%= icon ("money") %> <%= @job.money %> $</strong>
              <a href="#" class="btn btn-border btn-sm">Freelance</a>
              <a href="#" class="btn btn-common btn-sm">Apply For This Job</a>
            </div>
          </div>
          <hr>
          <div class="clearfix col-lg-12">
            <div class="col-lg-12"></div>
            <h4>Overview</h4>
            <p> <%= @job.description %> </p><br>
            <h4>Requirements</h4>
            <p> <%= @job.requisitos %> </p><br>
            <h4>Benefits</h4>
            <p> <%= @job.beneficios %> </p>
            <a href="#" class="btn btn-common">Apply for this Job Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <aside>
        <div class="sidebar">
          <h2 class="medium-title">Empresa</h2>
          <div class="box">
            <div class="thumb">
              <% if @job.company.image.file? %>
                  <%= image_tag @job.company.image.url(), :width=> 220, :height => 180 %>
              <% else %>
                  <%= image_tag("features/g2.jpg", :width=> 220, :height => 180) %>
              <% end %>
            </div>
            <div class="text-box">
              <h4><%= @job.company.company %></h4>
              <p><%= @job.company.fullname %> </p>
              <strong><%= icon("phone") %><%= @job.company.contact %></strong>
              <strong><%= icon("envelope") %><%= @job.company.email %></strong>
              <strong>Location: <%= @job.company.m_country_id %></strong>
              <p><%= @job.company.description %></p>
            </div>
          </div>
        </div>
      </aside>
    </div>

  </div>
</div>
<br>