<div id="div-jobs">
  <%= render 'bloques/jobs' %>
</div>
<!-- Find Job Section End -->
<div id="div-categories">
  <%= render 'bloques/categories' %>
</div>
<!-- Find Job Section End -->
<div id="div-news">
  <%= render 'bloques/news' %>
</div>
<!-- Find Job Section End -->
<div id="div-companies">
  <%= render 'bloques/companies' %>
</div>
<!-- Find Job Section End -->
<div id="div-candidates">
  <%= render 'bloques/candidates' %>
</div>





