<div id="filterrific_results">
  <div class="acciones_filtros_search">
    <%= page_entries_info companies %>
  </div>
    <%@num = 1; %>
    <% companies.each do |company| %>

      <div class="author-resume col-lg-6">
        <div class="thumb col-lg-2">
          <% if company.image.file? %>
              <%= image_tag company.image.url(), :width=> 85, :height => 85 %>
          <% else %>
              <%= image_tag("blog/thumb1.png", :width=> 85, :height => 85) %>
          <% end %>
          <label class="img_counter"><%= @num %></label>
        </div>
        <div class="author-info col-lg-10">
          <h3> <%= link_to company.company, company %> </h3>
          <p class="sub-title"> #<%= company.fullname %></p>
          <p>
            <span class="address"><%= link_to icon("phone",company.contact), "tel:#{company.contact}" %>  </span>
            <span> <%= link_to icon("envelope",company.email), "mailto:#{company.email}" %> </span>
          </p>
        </div>
        <div class="social-link col-lg-12">
          <%= icon("file-text-o")%> <%= company.description[0...70] %>
        </div>
        <div class="social-link col-lg-12">
          <% if can? :edit, company %>
              <%= link_to icon("pencil-square-o",'Editar'), edit_company_path(company) %>
          <% end %>
          <% if can? :delete, company %>
              <%= link_to icon('trash-o','Eliminar'), company, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <% @num = @num+1 %>

    <% end %>
</div>
<%  @total = (page_entries_info companies).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
    <%= paginate companies %>
<% end  %>