<div id="filterrific_companies">
  <div>
    <%= page_entries_info companies %>
  </div>
  <table class="table table-bordered table-header table-stripered">
    <thead>
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :company) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :fullname) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :country) %></th>
      <th>Picture</th>
      <th>Description</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Username</th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
        <tr>
          <td><%= company.company %></td>
          <td><%= company.fullname %></td>
          <td><%= company.country %></td>
          <td><%= company.picture %></td>
          <td><%= company.description %></td>
          <td><%= company.contact %></td>
          <td><%= company.email %></td>
          <td><%= company.username %></td>
          <td><%= link_to icon('eye'), company %>
            <%= link_to icon('pencil-square-o'), edit_company_path(company) %>
            <%= link_to icon('trash-o'), company, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%  @total = (page_entries_info companies).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
    <%= paginate companies %>
<% end  %>