<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><strong class="red">Empresa</strong> <%= @company.company %></h4>
      </div>
      <!-- modal body -->
      <div class="modal-body">

        <div class="container-fluid">
          <div class="col-md-6">
            <div class="agileits_service_grid_btm_left1">
              <% if @company.image.file? %>
                  <%= image_tag @company.image.url(), :width=> 250, :height => 250 %>
              <% else %>
                  <%= image_tag("slider/slide1.jpg", :width=> 250, :height => 250) %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel col-md-12"><strong>  Nombre:</strong>  <%= @company.fullname %></div>
            <div class="panel col-md-12"><strong> <%= icon("user") %> Username:</strong>  <%= @company.username %></div>
            <div class="panel col-md-12"><strong> <%= icon("globe") %> </strong>  <%= @company.m_country.ncountry %></div>
            <div class="panel col-md-12"><strong> <%= icon("phone") %> </strong>  <%= @company.contact %></div>
            <div class="panel col-md-12"><strong> <%= icon("envelope") %> </strong>  <%= @company.email %></div>
          </div>
          <hr>
          <div class="col-md-12 panel">
            <h4>Description:</h4>
            <p><%= @company.description %></p>
          </div>
        </div>

      </div>
      <!-- end modal body -->
    </div>
  </div>
</div>