<%= render "bloques/admin_section" %>
<br>
<div class="">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Admin Companies
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for_filterrific @filterrific do |f| %>
                Records to show
                <%= select_tag :cantd, options_for_select([10,20,40].to_a, nil)  %>
                Search
                <%= f.text_field(   :search_query, class: 'filterrific-periodically-observed' ) %>
                <%# add an automated spinner to your form when the list is refreshed %>
                <%= render_filterrific_spinner %>
            <% end %>
          </div>
          <div class="col-lg-6">
            <div class="right">
              Download:
              <%= link_to icon('file-code-o','CSV'), companies_path(format: "csv") %> |
              <%= link_to icon('file-excel-o','Excel'), companies_path(format: "xls") %>
              <%= link_to icon('plus-circle','Add Company'), new_company_path , class: "btn-primary btn-sm" %>
            </div>
          </div>
        </div>
        <hr>
            <%= render( partial: 'companies/list',locals: { companies: @companies }             ) %>
      </div>
      <div class="panel-footer">
        &nbsp;<i class="right">companies</i>
      </div>
    </div>
  </div>
</div>

  </div></div>
