<p id="notice"><%= notice %></p>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
       Company
    </div>
    <div class="panel-body">
      <div class="row">
<div class="col-lg-6">
  <strong>Company:</strong>
  <%= @company.company %>
</div>

<div class="col-lg-6">
  <strong>Fullname:</strong>
  <%= @company.fullname %>
</div>

<div class="col-lg-6">
  <strong>Picture:</strong>
  <%= @company.picture %>
</div>

<div class="col-lg-6">
  <strong>Description:</strong>
  <%= @company.description %>
</div>

<div class="col-lg-6">
  <strong>Country:</strong>
  <%= @company.country %>
</div>

<div class="col-lg-6">
  <strong>Contact:</strong>
  <%= @company.contact %>
</div>

<div class="col-lg-6">
  <strong>Email:</strong>
  <%= @company.email %>
</div>

<div class="col-lg-6">
  <strong>Username:</strong>
  <%= @company.username %>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
      </div>
    </div>
  </div>
</div>