<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company.company %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @company.fullname %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @company.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @company.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @company.password %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
