<div id="filterrific_results">
  <div>
    <%= page_entries_info countries %>
  </div>

  <table class="table table-bordered table-header table-stripered">
    <tr>
      <th>id</th>
      <th>country</th>
      <th>Actions</th>
    </tr>
    <% countries.each do |country| %>
        <tr>
          <td><%= country.id %></td>
          <td><%= country.country %></td>
          <td><%= link_to 'Show', job %>  <%= link_to 'Edit', edit_job_path(job) %>
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<%  @total = (page_entries_info countries).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
<%= paginate countries %>
<% end  %>