<div id="filterrific_results">
  <div>
    <%= page_entries_info categories %>
  </div>
  <table class="display" id="tbcategories" data-source="<%= categories_url(format: "json") %>">
    <thead>
    <tr>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= category.category %> </td>
          <td> <%= link_to icon('eye'), category %> |
            <%= link_to icon('pencil-square-o'), edit_category_path(category) %> |
            <%= link_to icon('trash-o'), category, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%  @total = (page_entries_info categories).split('<b>')
    if @total.size == 3
      @total = @total[2].split('</b>')
    end
%>
<% if @total[0].to_i >= 10 %>
<%= paginate categories %>
<% end  %>