<p id="notice"><%= notice %></p>
<%= render "bloques/admin_section" %>
<br>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      Admin Category
    </div>
    <div class="panel-body">
      <p>
        <%= link_to icon('plus-circle','new'), new_category_path , class: "" %> |
        Download:
        <%= link_to "CSV", categories_path(format: "csv") %> |
        <%= link_to "Excel", categories_path(format: "xls") %>
      </p>
      <table class="table table-responsive table-bordered" id="tbcategories">
        <thead>
        <tr>
          <th>Category</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td><%= category.category %> </td>
              <td> <%= link_to 'Show', category %> |
                <%= link_to 'Edit', edit_category_path(category) %> |
                <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %> 
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%#= # paginate @categories %>
    </div>
    <div class="panel-footer">
      <i class="right">category</i>
    </div>
  </div>
</div>



