<div class="container">
  <strong>Category:</strong>
  <% if @category.image.file? %>
      <%= image_tag @category.image.url(), :width=> 150, :height => 150 %>
  <% else %>
      <%= image_tag("blog/user2.png", :width=> 150, :height => 150) %>
  <% end %>
  <span class="panel"> <%= @category.category %> </span>
  <span class="panel"> <%= @category.description %> </span>
  <%= link_to 'Listado Categorias', categories_path ,:class=>"btn btn-default btn-xs" %>
  <% if can? :edit, @category %>
      <%= link_to icon("pencil-square-o",'Edit'), edit_category_path(@category),:class=>"btn btn-default btn-xs" %>
  <% end %>
  <% if can? :delete, @employee %>
      <%= link_to icon('trash-o','Eliminar'), @category, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default btn-xs" %>
  <% end %>

</div>


