<!DOCTYPE html>
<html>
<head>
  <title> Job Search by IRSTRAT</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<div class="Main-agile">
  <%= render 'bloques/head' %>
  <%= render 'bloques/slider' %>
  <!-- //header -->
</div>
<div class="clearfix"></div>
  <div class="container-fluid">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div id="user-widget">
      <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
          <%= link_to icon("facebook","Sign in with Facebook") , "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <%= yield %>


  </div>
<%= render 'bloques/footer' %>
</body>
</html>
