<!DOCTYPE html>
<html>
<head>
  <title> Job Search by IRSTRAT</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<div class="Main-agile">
  <%= render 'bloques/head' %>
  <%= render 'bloques/slider' %>
  <!-- //header -->
</div>
<div class="clearfix"></div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= value %>
            </div>
        <% end %>

        <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to icon("lock",'Acceder'), new_user_session_path, :class => 'navbar-link'  %></li>
            <li><%= link_to icon("check-square-o",'Registrarse'), new_user_registration_path, :class => 'navbar-link'  %></li>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
<%= render 'bloques/footer' %>
</body>
</html>
